<!DOCTYPE html>
<html>
<head>
    <title>Summary Page</title>
    <link rel="stylesheet" type="text/css" href="../../static/uploads/summary.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap">


</head>
<body>
    <header>Summary Page</header>

    <div class="container">
        <div class="title">Generated Summary</div>

        <div class="summary-box">
            <p>Summary will appear here.</p>
        </div>
    </div>

</body>
</html>