body {
    background-color: rgb(128, 60, 200);
    text-align: center;

    font-family: 'Fredoka One', sans-serif;

    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 75vw;
    height: 75vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  

    background: white;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 6px 18px rgba(10,10,20,0.06);
}
button {
    background-color: midnightblue;
    color: white;

    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;

    font-size: 1rem;
    font-family: 'Fredoka One', sans-serif;
    cursor: pointer;

    transition: background-color 0.3s ease;
}
button:hover {
    background-color: rgb(54, 54, 151);
}

/* Initial Upload Card */
#upload-card {
    display: flex;
}

#initUploadError {
    opacity: 0;
    color: red;

    transition: opacity 0.3s ease;
}

/* Upload Preview Card */
#upload-prev {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    display: none;
}

#upload-prev-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    height: 100%;
    justify-content: center;
}
#upload-prev-left button {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    height: 100%;
    justify-content: center;
    margin: 4px;
}

#upload-prev-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    height: 100%;
}
#upload-prev-right iframe,
#upload-prev-right img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 6px;
    border: 1px solid #ddd;
}
